{% extends "base.html" %}
{% block content %}

<!DOCTYPE html>
<html lang="es">
<title>Plataforma de evaluación-Cursos</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}
</style>
<body>



<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-red w3-xlarge w3-padding">
  <a href="javascript:void(0)" class="w3-button w3-red w3-margin-right" onclick="w3_open()">☰</a>
  <span>Usuario</span>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->

{% if user.is_superuser %}
<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <!-- Portada -->
  <div class="w3-container" id="portada" style="margin-top:80px; margin-bottom:10px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Evaluador {{account.nombre}} {{account.apellido}}</b></h1><br />
    <hr style="width:50px;border:5px solid red" class="w3-round">
  </div>

<div class="account-detail">
    <div class="account">
        <h2>Detalles del evaluador:  {{account.nombre}} {{account.appellido}}</h2>
        <div class="w3-container">
            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Correo</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{account.nombre}}</td>
                            <td>{{account.appellido}}</td>
                            <td>{{account.correo}}</td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <br>
        <br>
        <br>



    </div>
</div>

<div class="modificar">
  <h2>Modificar los detalles del evaluador</h2><br />

  <form name="accountsForm" class="site-form"  onSubmit="formAction(this)"method="post">
    <input type="hidden" name="length" value=8>
    {% csrf_token %}
    <label>Nombre
      <input type="text" name="nombre"  value="{{account.nombre}}">
    </label>
      <br><br>
    <label>Apellido
      <input type="text" name="appellido"  value="{{account.appellido}}">
    </label>
      <br><br>
    <label>Email
      <input type="email" name="correo" value="{{account.correo}}">
    </label>
      <br><br>
      <p>Entra una nueva contraseña communicada por el evaluador o pulsa el botón para generar otra contraseña</p>
    <label>Password
      <input type="text" name="clave" value="{{account.clave}}">
    </label>
      <input type="button" class="button" value="Generar" onClick="generate();" tabindex="2">
      <br />
      <p style="color:red">
        Por favor, no olvide anotar esta contraseña y enviarla de nuevo al evaluador
      </p>
      <br><br>
    <input type="submit" value="Actualizar datos" />
      <br><br>


</form>
</div>



</div>

{% else %}
<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <!-- Portada -->
  <div class="w3-container" id="portada" style="margin-top:80px; margin-bottom:10px">
    <h1 class="w3-xxxlarge w3-text-red" style="margin: 2%;"><b>Solo los administradores pueden acceder a esta página</b></h1>
  </div>
</div>

{% endif %}

<script>
function URLonClick(nombre,apellido) {
    document.accountsForm.action = "/accounts/signup/"+'{{nombre}}'+"-"+'{{appellido}}'+"/"
}

function randomPassword(length) {
    var chars = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOP1234567890";
    var pass = "";
    for (var x = 0; x < length; x++) {
        var i = Math.floor(Math.random() * chars.length);
        pass += chars.charAt(i);
    }
    return pass;
}

function generate() {
    accountsForm.clave.value = randomPassword(accountsForm.length.value);
}

</script>
</body>

{% endblock %}
