{% extends "base.html" %}
{% block content %}

<title>Plataforma de evaluación-Cursos</title>

<body>

<!-- !PAGE CONTENT! -->

{% if user.is_superuser %}
<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <!-- Portada -->
  <div class="w3-container" id="portada" style="margin-top:80px; margin-bottom:10px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Evaluador {{account.nombre}} {{account.apellido}}</b></h1><br />
    <hr style="width:50px;border:5px solid red" class="w3-round">
  </div>

<div class="account-detail">
    <div class="account">
        <h2>Detalles del evaluador:  {{account.nombre}} {{account.appellido}}</h2>
        <div class="w3-container">
            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Correo</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{account.nombre}}</td>
                            <td>{{account.appellido}}</td>
                            <td>{{account.correo}}</td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <br>
        <br>
        <br>



    </div>
</div>

<div class="modificar">
  <h2>Modificar los detalles del evaluador</h2><br />

  <form name="accountsForm" class="site-form"  onSubmit="formAction(this)"method="post">
    <input type="hidden" name="length" value=8>
    {% csrf_token %}
      <label>Nombre
        <input type="text" name="nombre"  value="{{account.nombre}}">
      </label>
      <br><br>
      <label>Apellido
        <input type="text" name="appellido"  value="{{account.appellido}}">
      </label>
      <br><br>
      <label>Email
        <input type="email" name="correo" value="{{account.correo}}">
      </label>
      <br><br>
      <p>Entra una nueva contraseña comunicada por el evaluador, o pulsa el botón para generar una nueva</p>
      <label>Password
        <input type="text" name="clave" value="{{account.clave}}">
      </label>

      <input type="button" class="button" value="Generar" onClick="generate();" tabindex="2">

      <br />
      <p style="color:red">
        Por favor, no olvide anotar esta contraseña y enviarla de nuevo al evaluador
      </p>
      <br><br>
    <input type="submit" value="Actualizar datos" />
      <br><br>


</form>
</div>



</div>

{% else %}
<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <!-- Portada -->
  <div class="w3-container" id="portada" style="margin-top:80px; margin-bottom:10px">
    <h1 class="w3-xxxlarge w3-text-red" style="margin: 2%;"><b>Solo los administradores pueden acceder a esta página</b></h1>
  </div>
</div>

{% endif %}

<script>
function URLonClick(nombre,apellido) {
    document.accountsForm.action = "/accounts/signup/"+'{{nombre}}'+"-"+'{{appellido}}'+"/"
}

function randomPassword(length) {
    var chars = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOP1234567890";
    var pass = "";
    for (var x = 0; x < length; x++) {
        var i = Math.floor(Math.random() * chars.length);
        pass += chars.charAt(i);
    }
    return pass;
}

function generate() {
    accountsForm.clave.value = randomPassword(accountsForm.length.value);
}

</script>
</body>

{% endblock %}
