{% extends "base.html" %}
{% block content %}

<title>Plataforma de evaluación-Cursos</title>

<body>

<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-red w3-xlarge w3-padding">
  <a href="javascript:void(0)" class="w3-button w3-red w3-margin-right" onclick="w3_open()">☰</a>
  <span>Usuario</span>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
{% if user.is_superuser %}
<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <!-- Portada -->
  <div class="w3-container" id="portada" style="margin-top:80px; margin-bottom:10px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Cursos</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
      <p><h3>Seleccione un curso</h3></p>
  </div>

<!--Cajas cursos-->
{% for course in courses %}
  <div class="w3-row-padding w3-center w3-margin-top">
  <div class="w3-quarter w3-margin-top">
      <button onclick="goToDetails('{{course.code}}', '{{course.section}}', '{{course.year}}', '{{course.semester}}')">
      <!-- La función goToDetails está definida en el script de abajo -->

        <h3>{{course.title}}</h3><br>
    <i class="fas fa-book" style="font-size:100px"></i>
    <p>{{course.code}}</p>
    <p>{{course.section}}</p>
    <p>{{course.semester}}</p>
      </button>
      <br />
        <button class="w3-btn w3-red" onclick="goToDetailsModify('{{course.code}}', '{{course.section}}', '{{course.year}}', '{{course.semester}}')">Modificar</button>
        <button onclick="document.getElementById('delete_course_{{course.id}}').style.display='block'" class="w3-btn w3-red">Eliminar</button>
        <div class="w3-modal" id="delete_course_{{course.id}}">
          <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">
            <div class="w3-center">
              <h4 class="modal-title">Eliminar Curso</h4>
              <span onclick="document.getElementById('delete_course_{{course.id}}').style.display='none'" class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">×</span>
              <div class="w3-section">
                <div>¿Está seguro que quiere eliminar el curso {{course.title}}?</div>
                <form id="delete_course_form_{{course.id}}" method="post" action="/courses/delete/">
                  {% csrf_token %}
                  <div class="form-group">
                    <input type="hidden" name="id_course" value="{{course.id}}">
                  </div>
                  <button type="submit" class="w3-button w3-block w3-red w3-section w3-padding">Confirmar</button>
                </form>
              </div>
            </div>
          </div>
        </div>

    </div>
  </div>
  {% endfor %}

    <!--Caja de agregar-->
<div class="w3-row-padding w3-center w3-margin-top">
<div class="w3-quarter w3-margin-top">
  <button onclick="document.getElementById('agregar').style.display='block'" class="w3-card w3-container w3-light-gray w3-hover-shadow" style="min-height: 317px">
  <h3>Agregar curso nuevo</h3><br>
  <i class="fas fa-plus" style="font-size:100px;text-align: center; padding:50px"></i>
  </button>

    <div id="agregar" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">
      <div class="w3-center"><br>
        <span onclick="document.getElementById('agregar').style.display='none'" class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">×</span>

          <div class="w3-section">
            <form name="coursesForm" class="site-form" action="/courses/" method="post" onsubmit="return validateCourseData();">
              {% csrf_token %}
                <label>Titulo
                  <input type="text" id="title" name="title" placeholder="Titulo">
                </label>
                  <br>
                <p id="p-error-title" class="p-error">Asegúrese que el título sea válido.</p>
                <br>
                <label>Código
                  <input type="text" id="code" name="code" placeholder="Código">
                </label>
                  <br>
                <p id="p-error-code" class="p-error">Asegúrese que el código sea válido.</p>
                <br>
                <label>Semestre
                  <select id="semester" name="semester">
                    <option value="Primavera">Primavera</option>
                    <option value="Otoño">Otoño</option>
                  </select>
                </label>
                  <br>
                <p id="p-error-semester" class="p-error">Asegúrese que el semestre sea válido.</p>
                <br>
                <label>Sección
                  <select id="section" name="section">
                    <option value="1">1</option>
                    <option value="2">2</option>
                  </select>
                </label>
                  <br>
                <p id="p-error-section" class="p-error">Asegúrese que la sección sea válida.</p>
                <br>
                <label>Año
                  <input type="text" id="year" name="year" placeholder="2019">
                </label>
                  <br>
                <p id="p-error-year" class="p-error">Asegúrese que el año sea válido.</p>
                <br>
                <input type="submit" value="Registrar" />
                  <br><br>
            </form>
          </div>
    <!--cierre de cajas de cursos-->
</div>
<!--cierre de contenido-->
</div>
</div>
</div>
</div><br /><br />

</div>
{% else %}
<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <!-- Portada -->
  <div class="w3-container" id="portada" style="margin-top:80px; margin-bottom:10px">
    <h1 class="w3-xxxlarge w3-text-red" style="margin: 2%;"><b>Solo los administradores pueden acceder a esta página</b></h1>
  </div>
</div>

{% endif %}

<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}
// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}

// Función para ver los detalles del curso
function goToDetails(code, section, year, semester) {
  location.href= code + "-" + section + "-" + year + "-" + semester;
}

function goToDetailsModify(code, section, year, semester) {
  location.href= "modify/" + code + "-" + section + "-" + year + "-" + semester;
}

// Función para no generar cursos si los datos no son válidos
function validateCourseData() {
  let title, code, semester, section, year, valid;
  let perrortitle, perrorcode, perrorsemester, perrorsection, perroryear;
  title= document.getElementById("title");
  code= document.getElementById("code");
  semester= document.getElementById("semester");
  section= document.getElementById("section");
  year= document.getElementById("year");
  perrortitle= document.getElementById("p-error-title");
  perrorcode= document.getElementById("p-error-code");
  perrorsemester= document.getElementById("p-error-semester");
  perrorsection= document.getElementById("p-error-section");
  perroryear= document.getElementById("p-error-year");
  // Por ahora, válido será no vacío
  valid= true;
  if (isBlank(title.value)) {
    perrortitle.style.display= "block";
    valid= false;
  }
  else perrortitle.style.display= "none";
  if (isBlank(code.value)) {
    perrorcode.style.display= "block";
    valid= false;
  }
  else perrorcode.style.display= "none";
  if (isBlank(year.value)) {
    perroryear.style.display= "block";
    valid= false;
  }
  else perroryear.style.display= "none";
  return valid;
}

function isBlank(str) {
    return (!str || /^\s*$/.test(str));
}
</script>

</body>
</html>

{% endblock %}
